@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

:root {
	--highlight: rgb(141, 136, 221, 0.8);
	--highlight-alpha: rgba(141, 136, 221, 0.5);
	--highlight-dark: rgb(96, 92, 161, 0.5);
	--background: rgb(35, 39, 42);
	--background-alpha: rgba(189, 189, 189, 0.09);
}

.hide,
.tab-group.hide {
	display: none;
}

.capitalize {
	text-transform: capitalize;
}

.app {
	padding: 2rem;
	background-color: var(--background);
	min-height: 100vh;
	height: 100%;
	background-image: url("/src/images/bg.png");
	background-size: 100vw;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	border: 2px solid var(--background);
	background-color: var(--background-alpha);
	border-radius: 0.75rem;
}

.navbar > div {
	display: flex;
	align-items: center;
}

.welcome-msg {
	color: white;
	font-weight: 500;
	font-size: 0.75rem;
}

.active-user {
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
}

.tab-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 12rem;
	width: 18rem;
	border-radius: 0.75rem 0.75rem 0 0;
	box-shadow: 0 0 25px 5px var(--background);
}

.tab-nav {
	display: flex;
	width: 100%;
}

.tab {
	padding: 0.25rem 0.5rem;
	border: 2px solid var(--background);
	font-size: 0.75rem;
	width: 9rem;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: var(--background-alpha);
	color: white;
}

.tab.active {
	background-color: var(--highlight-alpha);
	color: white;
}

.tab:hover {
	background-color: var(--highlight);
	color: white;
}

.tab:active {
	background-color: var(--highlight-dark);
	color: white;
}

.tab.one {
	border-top-left-radius: 0.5rem;
	border-right: none;
}

.tab.two {
	border-top-right-radius: 0.5rem;
}

.tab-content {
	width: 100%;
	padding: 1rem;
	border: 2px solid var(--background);
	border-top: none;
	background-color: var(--background-alpha);
	color: white;
}

.tab-content .title {
	font-size: 1.25rem;
	text-align: center;
	padding-bottom: 0.5rem;
}

.tab-content input {
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.right button {
	font-size: 0.8rem;
}

.tab-content .disable {
	color: grey;
}

.tab-content input,
.right button,
.task-form input.task-content-input {
	background-color: var(--background);
	color: white;
	padding: 0.25rem 0.5rem;
}

.tab-content input[type="text"],
.tab-content input[type="password"],
.task-form input.task-content-input {
	border: none;
	outline: none;
}

.tab-content input[type="text"]:focus,
.tab-content input[type="password"]:focus,
.task-form input.task-content-input:focus {
	outline: 1px solid var(--highlight);
}

.tab-content label {
	font-size: 0.55rem;
}

.tab-content .submit {
	padding-top: 1rem;
	text-align: center;
}

.submit input {
	font-size: 1rem;
}

.submit input,
.right button {
	width: 8rem;
	border: 2px solid var(--background);
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.submit input:hover,
.right button:hover {
	background-color: var(--highlight-alpha);
}

.submit input:active,
.right button:active {
	background-color: var(--highlight-dark);
}

.username,
.password {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.username label,
.password label {
	position: absolute;
	bottom: 2.1rem;
	left: 1.45rem;
}

.username input,
.password input {
	width: 13rem;
}

.task-list {
	padding: 1.5rem 0 0 0;
	margin: 1rem 0 0 0;
	background-color: var(--background-alpha);
	border: 2px solid var(--background);
	border-radius: 0.75rem;
}

.no-tasks-message {
	color: white;
}

.task-form {
	display: flex;
	justify-content: space-between;
	color: white;
	align-items: center;
	padding: 0 1.5rem;
}

.task-form .left {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.task-form form {
	display: flex;
	gap: 0.5rem;
}

.task-form .right {
	text-align: right;
}

.tasks {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 1rem;
}

.task button,
.task-form input[type="submit"] {
	color: white;
	border: 2px solid var(--background);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.task button {
	font-size: 0.75rem;
	background-color: var(--background);
}

.task-form input[type="submit"] {
	font-size: 1rem;
	background-color: var(--highlight-alpha);
}

.task button:hover {
	background-color: var(--highlight-alpha);
}

.task-form input[type="submit"]:hover {
	background-color: var(--background);
}

.task button:active {
	background-color: var(--highlight-dark);
}

.task-form input[type="submit"]:active {
	background-color: var(--background-alpha);
}

.task {
	position: relative;
	background-color: var(--background-alpha);
	border: 2px solid var(--background);
	border-radius: 0.75rem;
	margin-top: 0.5rem;
	padding: 0.5rem 0.75rem;
	color: white;
	height: 11rem;
}

.task .status {
	position: absolute;
	font-size: 0.75rem;
	top: 0.25rem;
	right: 0.5rem;
	font-weight: 600;
}

.status.done {
	color: rgb(93, 149, 93);
}

.status.not-done {
	color: rgb(153, 56, 56);
}

.task .content {
	margin-left: 0.25rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	word-wrap: break-word;
}

.task .content.done {
	color: grey;
}

.task .button {
	position: relative;
}

.task .icons {
	position: absolute;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	bottom: 0.25rem;
	right: 0.5rem;
}

.icon {
	cursor: pointer;
}

.icon.delete {
	color: rgb(170, 22, 22);
}

@media (max-width: 800px) {
	.task-form {
		flex-direction: column;
		gap: 0.5rem;
	}
}

@media (max-width: 605px) {
	.task-form {
		gap: 0.75rem;
	}
	.task-form .left {
		flex-direction: column;
		gap: 0.5rem;
	}
	.left form {
		flex-direction: column;
	}
}

@media (max-width: 410px) {
	.app {
		padding: 0.75rem;
	}
	.tab-group {
		width: 16rem;
	}
	.username label,
	.password label {
		left: 0.5rem;
	}
}
