@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;800&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}

:root {
	--highlight: rgb(141, 136, 221, 0.8);
	--highlight-alpha: rgba(141, 136, 221, 0.5);
	--highlight-dark: rgb(96, 92, 161, 0.5);
	--background: rgb(35, 39, 42);
	--background-alpha: rgba(189, 189, 189, 0.09);
}

.hide,
.tab-group.hide {
	display: none;
}

.capitalize {
	text-transform: capitalize;
}

.app {
	padding: 2rem;
	background-color: var(--background);
	height: 100vh;
	background-image: url("/src/images/bg.png");
	background-size: 100vw;
}

.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0.75rem 1rem;
	border: 2px solid var(--background);
	background-color: var(--background-alpha);
	border-radius: 0.75rem;
}

.navbar > div {
	display: flex;
	align-items: center;
}

.welcome-msg {
	color: white;
	font-weight: 500;
	font-size: 0.75rem;
}

.active-user {
	color: white;
	font-weight: 500;
	font-size: 0.9rem;
}

.tab-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	margin-top: 12rem;
	width: 18rem;
	border-radius: 0.75rem 0.75rem 0 0;
	box-shadow: 0 0 25px 5px var(--background);
}

.tab-nav {
	display: flex;
	width: 100%;
}

.tab {
	padding: 0.25rem 0.5rem;
	border: 2px solid var(--background);
	font-size: 0.75rem;
	width: 9rem;
	text-align: center;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: var(--background-alpha);
	color: white;
}

.tab.active {
	background-color: var(--highlight-alpha);
	color: white;
}

.tab:hover {
	background-color: var(--highlight);
	color: white;
}

.tab:active {
	background-color: var(--highlight-dark);
	color: white;
}

.tab.one {
	border-top-left-radius: 0.5rem;
	border-right: none;
}

.tab.two {
	border-top-right-radius: 0.5rem;
}

.tab-content {
	width: 100%;
	padding: 1rem;
	border: 2px solid var(--background);
	border-top: none;
	background-color: var(--background-alpha);
	color: white;
}

.tab-content .title {
	font-size: 1.25rem;
	text-align: center;
	padding-bottom: 0.5rem;
}

.tab-content input {
	margin-bottom: 0.25rem;
	font-size: 1rem;
}

.right button {
	font-size: 0.8rem;
}

.tab-content input,
.right button {
	background-color: var(--background);
	color: white;
	padding: 0.25rem 0.5rem;
}

.tab-content input[type="text"],
.tab-content input[type="password"] {
	border: none;
	outline: none;
}

.tab-content input[type="text"]:focus,
.tab-content input[type="password"]:focus {
	outline: 1px solid var(--highlight);
}

.tab-content label {
	font-size: 0.55rem;
}

.tab-content .submit {
	padding-top: 1rem;
	text-align: center;
}

.submit input {
	font-size: 1rem;
}

.submit input,
.right button {
	width: 8rem;
	border: 2px solid var(--background);
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}

.submit input:hover,
.right button:hover {
	background-color: var(--highlight-alpha);
}

.submit input:active,
.right button:active {
	background-color: var(--highlight-dark);
}

.username,
.password {
	position: relative;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.username label,
.password label {
	position: absolute;
	bottom: 2.1rem;
	left: 1.45rem;
}

.username input,
.password input {
	width: 13rem;
}

.task-list {
	padding: 2rem 0;
}

.task-form {
	display: flex;
	justify-content: space-around;
	color: white;
}

.tasks {
	padding: 1rem;
	background-color: var(--background-alpha);
	border: 2px solid var(--background);
	border-radius: 0.75rem;
}

.task {
	position: relative;
	background-color: var(--background-alpha);
	border: 2px solid var(--background);
	border-radius: 0.75rem;
	margin: 0.5rem 0;
	padding: 0.5rem 0.75rem;
	color: white;
}

.task button {
	color: white;
	background-color: var(--background);
	border: 2px solid var(--background);
	border-radius: 0.5rem;
	padding: 0.25rem 0.5rem;
	font-size: 0.75rem;
}

.task button:hover {
	background-color: var(--highlight-alpha);
}

.task button:active {
	background-color: var(--highlight-dark);
}
